Tute08/Tutorial8Client/xml-resources/web-service-references/Tutorial8WebService/wsdl/localhost_8080/Tutorial8WebApplication/Tutorial8WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="Tutorial8WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/Tutorial8WebApplication/Tutorial8WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="divide">
<part name="parameters" element="tns:divide"/>
</message>
<message name="divideResponse">
<part name="parameters" element="tns:divideResponse"/>
</message>
<message name="subtract">
<part name="parameters" element="tns:subtract"/>
</message>
<message name="subtractResponse">
<part name="parameters" element="tns:subtractResponse"/>
</message>
<message name="multiply">
<part name="parameters" element="tns:multiply"/>
</message>
<message name="multiplyResponse">
<part name="parameters" element="tns:multiplyResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="isConnected">
<part name="parameters" element="tns:isConnected"/>
</message>
<message name="isConnectedResponse">
<part name="parameters" element="tns:isConnectedResponse"/>
</message>
<portType name="Tutorial8WebService">
<operation name="add">
<input wsam:Action="http://server/Tutorial8WebService/addRequest" message="tns:add"/>
<output wsam:Action="http://server/Tutorial8WebService/addResponse" message="tns:addResponse"/>
</operation>
<operation name="divide">
<input wsam:Action="http://server/Tutorial8WebService/divideRequest" message="tns:divide"/>
<output wsam:Action="http://server/Tutorial8WebService/divideResponse" message="tns:divideResponse"/>
</operation>
<operation name="subtract">
<input wsam:Action="http://server/Tutorial8WebService/subtractRequest" message="tns:subtract"/>
<output wsam:Action="http://server/Tutorial8WebService/subtractResponse" message="tns:subtractResponse"/>
</operation>
<operation name="multiply">
<input wsam:Action="http://server/Tutorial8WebService/multiplyRequest" message="tns:multiply"/>
<output wsam:Action="http://server/Tutorial8WebService/multiplyResponse" message="tns:multiplyResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://server/Tutorial8WebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://server/Tutorial8WebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="isConnected">
<input wsam:Action="http://server/Tutorial8WebService/isConnectedRequest" message="tns:isConnected"/>
<output wsam:Action="http://server/Tutorial8WebService/isConnectedResponse" message="tns:isConnectedResponse"/>
</operation>
</portType>
<binding name="Tutorial8WebServicePortBinding" type="tns:Tutorial8WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divide">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isConnected">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Tutorial8WebService">
<port name="Tutorial8WebServicePort" binding="tns:Tutorial8WebServicePortBinding">
<soap:address location="http://localhost:8080/Tutorial8WebApplication/Tutorial8WebService"/>
</port>
</service>
</definitions>